header {
  text-align: center;
  margin: 11px 11px 11px 11px;
  margin: 0 auto;
}

body {
  background: #00308f;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#app {
  display: flex;
  justify-content: center;
}

.todoList {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 11px;
  width: 900px;
  margin-top: 11px;
  background: #7cb9e8;
}

.todoForm {
  display: flex;
  justify-content: center;
  margin: 11px 11px 11px 11px;
}

.inputTask {
  margin: 11px 5px 11px 5px;
}

.submitTask {
  margin: 11px 5px 11px 5px;
}

.inputArea {
  width: 500px;
}

.number {
  width: 55px;
}

.task {
  width: 555px;
}

.delete {
  width: 77px;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
  margin-top: 11px;
  text-align: center;
}

th,
td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}
